<platform name="android">
  <resource-file src="scanbot-sdk-app-resources/osd.traineddata" target="app/src/main/assets/ocr_blobs/osd.traineddata" />
  <resource-file src="scanbot-sdk-app-resources/eng.traineddata" target="app/src/main/assets/ocr_blobs/eng.traineddata" />
</platform>

<platform name="ios">
  <resource-file src="scanbot-sdk-app-resources/ScanbotSDKOCRData.bundle" target="ScanbotSDKOCRData.bundle" />
  <resource-file src="scanbot-sdk-app-resources/osd.traineddata" target="ScanbotSDKOCRData.bundle/osd.traineddata" />
  <resource-file src="scanbot-sdk-app-resources/eng.traineddata" target="ScanbotSDKOCRData.bundle/eng.traineddata" />
</platform>